<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disease prediction </title>
</head>
<body>
    <h1> Choose your symptoms:</h1>
    <form action="/predict" method="POST">

      <input type="checkbox"  name="0"> itching  <br>
      <input type="checkbox"  name="1"> skin_rash  <br>
      <input type="checkbox"  name="2"> nodal_skin_eruptions <br>
      <input type="checkbox"  name="3"> continuous_sneezing  <br>
      <input type="checkbox"  name="4"> shivering  <br>
      <input type="checkbox"  name="5"> joint_pain<br>
      <input type="checkbox"  name="6">	stomach_pain<br>
      <input type="checkbox"  name="7">	acidity	<br>
      <input type="checkbox"  name="8"> ulcers_on_tongue<br>
      <input type="checkbox"  name="9"> muscle_wasting	<br>
      <input type="checkbox"  name="10"> vomiting	  <br>
      <input type="checkbox"  name="11">  burning_micturition <br>
      <input type="checkbox"  name="12">  spotting_ urination	 <br>
      <input type="checkbox"  name="13">  fatigue	<br>
      <input type="checkbox"  name="14">  weight_gain <br>
      <input type="checkbox"  name="15">  anxiety	 <br>
      <input type="checkbox"  name="16">  cold_hands_and_feets	 <br>
      <input type="checkbox"  name="17">  mood_swings	 <br>
      <input type="checkbox"  name="18">  weight_loss	 <br>
      <input type="checkbox"  name="19">  restlessness	 <br>
      <input type="checkbox"  name="20">  lethargy	 <br>
      <input type="checkbox"  name="21">  patches_in_throat <br>
      <input type="checkbox"  name="22"> 	irregular_sugar_level <br>
      <input type="checkbox"  name="23">  cough	high_fever <br>
      <input type="checkbox"  name="24"> 	sunken_eyes <br>
      <input type="checkbox"  name="25">  breathlessness <br>
      <input type="checkbox"  name="26">  sweating <br>
      <input type="checkbox"  name="27">  dehydration	 <br>
      <input type="checkbox"  name="28">  indigestion	 <br>
      <input type="checkbox"  name="29">  headache	 <br>
      <input type="checkbox"  name="30">  yellowish_skin	 <br>
      <input type="checkbox"  name="31">  dark_urine	 <br>
      <input type="checkbox"  name="32">  nausea	 <br>
      <input type="checkbox"  name="33">  loss_of_appetite <br>
      <input type="checkbox"  name="34">  pain_behind_the_eyes	 <br>
      <input type="checkbox"  name="35">  back_pain <br>
      <input type="checkbox"  name="36">  constipation <br>
      <input type="checkbox"  name="37">  abdominal_pain	 <br>
      <input type="checkbox"  name="38">  diarrhoea	 <br>
      <input type="checkbox"  name="39">  mild_fever <br>
      <input type="checkbox"  name="40">  yellow_urine	 <br>
      <input type="checkbox"  name="41">  yellowing_of_eyes	 <br>
      <input type="checkbox"  name="42">  acute_liver_failure	<br>
      <input type="checkbox"  name="43">  fluid_overload<br>
      <input type="checkbox"  name="44">  swelling_of_stomach	   <br>
      <input type="checkbox"  name="45">  swelled_lymph_nodes	 <br>
      <input type="checkbox"  name="46">  malaise	 <br>
      <input type="checkbox"  name="47">  blurred_and_distorted_vision	 <br>
      <input type="checkbox"  name="48">  phlegm	<br>
      <input type="checkbox"  name="49">  throat_irritation	 <br>
      <input type="checkbox"  name="50">  redness_of_eyes	sinus_pressure	 <br>
      <input type="checkbox"  name="51">  runny_nose <br>
      <input type="checkbox"  name="52">  congestion <br>
      <input type="checkbox"  name="53">  chest_pain <br>
      <input type="checkbox"  name="54"> 	weakness_in_limbs  <br>
      <input type="checkbox"  name="55"> 	fast_heart_rate  <br>
      <input type="checkbox"  name="56"> 	pain_during_bowel_movements  <br>
      <input type="checkbox"  name="57">  pain_in_anal_region	 <br>
      <input type="checkbox"  name="58"> 	irritation_in_anus <br>
      <input type="checkbox"  name="59">  neck_pain <br>
      <input type="checkbox"  name="60">  dizziness <br>
      <input type="checkbox"  name="61">  cramps <br>
      <input type="checkbox"  name="62">  bruising <br>
      <input type="checkbox"  name="63">  obesity <br>
      <input type="checkbox"  name="64">  swollen_legs <br>
      <input type="checkbox"  name="65">  swollen_blood_vessels <br>
      <input type="checkbox"  name="66"> 	puffy_face_and_eyes	 <br>
      <input type="checkbox"  name="67">  enlarged_thyroid	 <br>
      <input type="checkbox"  name="68">  brittle_nails	 <br>
      <input type="checkbox"  name="69">  swollen_extremeties	 <br>
      <input type="checkbox"  name="70">  excessive_hunger	<br>
      <input type="checkbox"  name="71">  extra_marital_contacts	 <br>
      <input type="checkbox"  name="72">  drying_and_tingling_lips	 <br>
      <input type="checkbox"  name="73">  slurred_speech	 <br>
      <input type="checkbox"  name="74">  knee_pain	 <br>
      <input type="checkbox"  name="75">  hip_joint_pain	 <br>
      <input type="checkbox"  name="76">  muscle_weakness	 <br>
      <input type="checkbox"  name="77">  stiff_neck <br>
      <input type="checkbox"  name="78">  swelling_joints	 <br>
      <input type="checkbox"  name="79">  movement_stiffness	 <br>
      <input type="checkbox"  name="80">  spinning_movements	 <br>
      <input type="checkbox"  name="81">  loss_of_balance	 <br>
      <input type="checkbox"  name="82">  unsteadiness	 <br>
      <input type="checkbox"  name="83">  weakness_of_one_body_side	 <br>
      <input type="checkbox"  name="84">  loss_of_smell	 <br>
      <input type="checkbox"  name="85">  bladder_discomfort	 <br>
      <input type="checkbox"  name="87">  continuous_feel_of_urine	 <br>
      <input type="checkbox"  name="86">  foul_smell_of urine	  <br>
      <input type="checkbox"  name="88">  passage_of_gases	 <br>
      <input type="checkbox"  name="89">  internal_itching <br>
      <input type="checkbox"  name="90">  toxic_look_(typhos)	 <br>
      <input type="checkbox"  name="91">  depression	 <br>
      <input type="checkbox"  name="92">  irritability	 <br>
      <input type="checkbox"  name="93">  muscle_pain	 <br>
      <input type="checkbox"  name="94">  altered_sensorium	 <br>
      <input type="checkbox"  name="95">  red_spots_over_body	 <br>
      <input type="checkbox"  name="96">  belly_pain	 <br>
      <input type="checkbox"  name="97">  abnormal_menstruation	 <br>
      <input type="checkbox"  name="98">  dischromic _patches		 <br>
      <input type="checkbox"  name="99">  increased_appetite	 <br>
      <input type="checkbox"  name="100">  polyuria	  <br>
      <input type="checkbox"  name="101">  family_history	 <br>
      <input type="checkbox"  name="102">  mucoid_sputum	 <br>
      <input type="checkbox"  name="103">  rusty_sputum		 <br>
      <input type="checkbox"  name="104">  lack_of_concentration <br>
      <input type="checkbox"  name="105">  visual_disturbances	 <br>
      <input type="checkbox"  name="106">  receiving_blood_transfusion	 <br>
      <input type="checkbox"  name="107">  receiving_unsterile_injections	 <br>
      <input type="checkbox"  name="108">  coma	stomach_bleeding	 <br>
      <input type="checkbox"  name="109">  distention_of_abdomen	 <br>
      <input type="checkbox"  name="110">  history_of_alcohol_consumption	 <br>
      <input type="checkbox"  name="111">  fluid_overload	 <br>
      <input type="checkbox"  name="112">  blood_in_sputum	 <br>
      <input type="checkbox"  name="113">  prominent_veins_on_calf	 <br>
      <input type="checkbox"  name="114">  palpitations	 <br>
      <input type="checkbox"  name="115">  painful_walking	 <br>
      <input type="checkbox"  name="116">  pus_filled_pimples	 <br>
      <input type="checkbox"  name="117">  blackheads		 <br>
      <input type="checkbox"  name="118">  skin_peeling	 <br>
      <input type="checkbox"  name="119">  silver_like_dusting	 <br>
      <input type="checkbox"  name="120">  small_dents_in_nails	 <br>
      <input type="checkbox"  name="121">  foul_smell_of urine <br>
      <input type="checkbox"  name="122">  spinning_movements <br>
      <input type="checkbox"  name="123">  rusty_sputum	 <br>
      <input type="checkbox"  name="124">  yellow_crust_ooze <br>
      <input type="checkbox"  name="125">  chills <br>
      <input type="checkbox"  name="126">  scurring <br>
      <input type="checkbox"  name="127">  watering_from_eyes <br>
      <input type="checkbox"  name="128">  bloody_stool <br>
      <input type="checkbox"  name="129">  inflammatory_nails <br>
      <input type="checkbox"  name="130">  blister <br>
      <input type="checkbox"  name="131">  red_sore_around_nose <br>
      <input type="checkbox"  name="132">  yellow_crust_ooze <br>


      <input type="submit" value="Submit">
    </form>
</body>
</html>
